html {
position: relative;
min-height: 100%;
}
body {
/* Margin bottom by footer height */
margin-bottom: 60px;
padding-top: 50px;
}

.layout {
margin-top: 50px;
margin-bottom: 70px;
}

.layout h2 {
margin-bottom: 30px;
}

.footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
line-height: 60px; /* Vertically center the text there */
background-color: #f5f5f5;
}

.navbar {
background-color: #3a6d9c;
}

.navbar .btn, .navbar a {
color: #fff !important;
}

.nav-pills .nav-link.active {
background-color: #325c84;
}

/*
* Sidebar
*/

.sidebar {
position: fixed;
top: 46px;
bottom: 0;
left: 0;
z-index: 1000;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
padding-left: 0;
padding-right: 0;
}

.sidebar .nav {
margin-bottom: 20px;
}

.sidebar .nav-item {
width: 100%;
}

.sidebar .nav-item + .nav-item {
margin-left: 0;
}

.sidebar .nav-link {
border-radius: 0;
}

.navbar .nav-item {
margin-right: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

.navbar .nav-link {
padding-left: 5px;
}

.splash-image-right {
	height: 400px;
	margin-left: 25px;
	display: none;
}

.splash-image-left {
	height: 400px;
	margin-right: 25px;
	display: none;
}

.splash-image-small {
	height: 220px;
}

#apps-table td {
	vertical-align: middle !important;
}

#apps-table td img {
	width: 50px;
}
.card-header {
	font-weight: bold;
}

.nav-item.languageChoose {
	cursor: pointer;
	display: none;
}

.nav-item.languageChoose:not(:last-child) {
	margin-left: 0;
}

.nav-item.languageChoose .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.app-badge {
	width: 190px;
}

.app-store-badge {
	opacity: 0.3;
}

table.statistics tbody tr:not(.small) {
	cursor: pointer;
}

@media (min-width: 576px) {
	.splash-image-right, .splash-image-left {
		display: block;
	}

	.nav-item.languageChoose{
		display: block;
	}

	.app-store-badge {
		margin-left: 10px;
	}
}
